@page "/"

<PageTitle>Library Service</PageTitle>

<div class="container text-center">
    <h1>Welcome to the Library Service</h1>
    <p>Your one-stop solution for managing books and users.</p>
</div>

<div class="container text-center mt-4">
    <a href="/managebooks" class="btn btn-primary mr-2">
        <span class="oi oi-book"></span> Manage Books
    </a>
    <a href="/manageusers" class="btn btn-primary mr-2">
        <span class="oi oi-person"></span> Manage Users
    </a>
    <a href="/borrowbook" class="btn btn-primary mr-2">
        <span class="oi oi-arrow-circle-bottom"></span> Borrow Book
    </a>
    <a href="/returnbook" class="btn btn-primary">
        <span class="oi oi-arrow-circle-top"></span> Return Book
    </a>
</div>
